a{
    color: grey;
}
#navbar {
    width: 100%;
}
nav li{
    display: inline;
}
header h1{
    text-align: center;
}
header section{
    font-family: fantasy, cursive;
}
header li {
    list-style: none;
}
header a:link,a:visited {
    text-decoration: none;
    background-color: gray;
    border: 1px solid blue;
    color: black;
}
footer a:link,a:visited {
    text-decoration: none;
    color: grey;
}
a:hover, a:active {
    background-color:cornflowerblue;
    color: purple;
}
#lowercard{
    border-radius: 7px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgba(45,45,45,1);
    margin-bottom: 10px;
    padding: 10px;
}