*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rebeccapurple;
}
.box{
    border: 2px solid black;
    font-size: 1.25em;
}
.small-box{
    position: relative;
    border: 1px solid black;
    float: right;
    font-size: 1.4em;
    font-weight: bold;
}
#first{
    background-color: rgba(86, 86, 206, 0.774);
}
#second{
    background-color: rgb(214, 83, 78);
}
#third{
    background-color: rgb(208, 255, 0);
}