*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rebeccapurple;
}
body{
    margin: 0;
    padding: 0;
}
.box{
    border: 2px solid black;
    font-size: 1.25em;
    background-color: cornsilk;
    overflow: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    margin-top: 0px;
    margin-right: 8px;
    margin-left: 8px;
}
.small-box{
    border-style: solid;
    border-width: 0px 0px 2px 2px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    float: right;
    margin: 0;
    overflow: none;
    padding: 2px;
}
p{
    margin-top: 13%;
}
#first{
    background-color: rgba(86, 86, 206, 0.774);
}
#second{
    background-color: rgb(214, 83, 78);
}
#third{
    background-color: rgb(208, 255, 0);
}

@media (min-width: 992px){
    .big{
        float: left;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .mid{
        float: left;
        width: 50%;
        margin-top: 10px;
    }
    #trd{
        width: 100%;
    }
    #trd p {
        margin-top: 5%;
    } 
}
@media (max-width: 767px){
    .small{
        float: left;
        width: 100%;
        margin-top: 3px;
    }
}